<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTDMapper3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.ant.mapper.springboot.UserMapper">
      
     <insert id="kakaoinsertUser" parameterType="com.ant.vo.KakaoUserVO">
		INSERT INTO user(userid , email, kakaoname,nickname,phone ,pass )
 		VALUE (#{userid}, #{email}, #{kakaoname},#{nickname},#{phone},#{pass})
      </insert>
  
     <select id="UserListGet" resultType="com.ant.vo.KakaoUserVO">
         SELECT * FROM user
     </select>
     
     <select id="UserTotalCountGet" resultType="int">
         SELECT count(*) FROM user
     </select>
     <select id="UserSubCountGet" resultType="int">
         SELECT count(*) FROM user where subscripstat = 1
     </select>
     
     <select id="fetchUserByID" resultType="com.ant.vo.UserVO"
      parameterType="int">
         SELECT * FROM users
         WHERE id = #{id}
     </select>
     
     <select id="kakaofetchUserByID" resultType="com.ant.vo.KakaoUserVO"
      parameterType="string">
         SELECT * FROM user
         WHERE userid = #{kakaoid}
     </select>
     
     <delete id="deleteUser" parameterType="int">
         DELETE FROM user
         WHERE userid = #{userid}
     </delete>
     
     <update id="updateUser" parameterType="com.ant.vo.KakaoUserVO">
         UPDATE user
         SET nickname = #{nickname}, email = #{email} 
         WHERE userid = #{userid}
     </update>
     
     <select id="getUserComment" parameterType = "string" resultType="string">
         SELECT commentlist FROM user
         WHERE userid = #{userid}
     </select>
     
      <update id="editUserLikedComment" parameterType="com.ant.vo.KakaoUserVO">
         UPDATE user
         SET nickname = #{nickname}, email = #{email} 
         WHERE userid = #{userid}
     </update>
     <select id="fetchUserLikedBoardList" parameterType = "string" resultType="string">
         SELECT board_id FROM userlikeboard WHERE userid = #{userid}
     </select>
     <update id="editUserLikedCommentChange" parameterType="com.ant.vo.KakaoUserVO">
         UPDATE user
         SET commentlist = #{commentlist}
         WHERE userid = #{userid}
     </update>
     
     <!-- 마이페이지-회원정보 보기 -->
     <select id="profileShow" resultType="com.ant.vo.KakaoUserVO"
		parameterType="int">
		SELECT *
		FROM user WHERE userid = #{id}
		</select>
	
	<!-- 마이페이지-회원정보 수정 -->
	<update id="profileEdit" parameterType="com.ant.vo.KakaoUserVO">
	UPDATE user
	SET
	nickname = #{nickname},
	phone = #{phone}
	WHERE userid = #{userid}
	</update>
	
	<!-- 컨트롤러-마이페이지-나의 게시글 -->
  	<select id="boardShow" parameterType="int" resultType="com.ant.vo.BoardVO">
  	SELECT board_id, userid, board_title, board_createdata FROM board where userid=#{userid} ORDER BY board_createdata desc LIMIT 4
  	</select>
     
     <!-- 마이페이지-비밀번호 수정 -->
     <update id="passwordEdit" parameterType="com.ant.vo.KakaoUserVO">
	UPDATE user
	SET
	pass = #{pass}
	WHERE userid = #{userid}
	</update>
  
</mapper>
